<configuration>
  <system.webServer>
    <iisnode 
		debuggerExtensionDll="iisnode-inspector.dll" 
		loggingEnabled="true" 
		nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"/>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="server.js" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
